body {
  background-color: #f3f3f3;
}

.wrapper {
  margin: 20px;
}

.wrapper h1 {
  margin-bottom: 20px;
  text-align: center;
}

.wrapper .todo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .done-wrapper {
  display: none;
  margin-top: 30px;
}

.wrapper .done-wrapper h2 {
  text-align: center;
}

.wrapper form input[type='text'] {
  width: 30% !important;
  margin-right: 20px;
  box-shadow: none;
  padding: 10px 13px;
}

.wrapper .list-group {
  align-items: center;
  margin-top: 20px;
}

.wrapper .invalid {
  display: none;
  width: 50%;
  margin: 20px auto 0;
}

.wrapper .list-group-item {
  width: 50%;
  padding: 17px 13px;
  border-top-width: 1px;
  margin: 13px 0 0;
}
.wrapper .done-wrapper .list-group-item {
  text-decoration: line-through;
}

.wrapper .list-group-item .done,
.wrapper .list-group-item .remove {
  position: relative;
  top: 3px;
  color: green;
  cursor: pointer;
  font-size: 21px;
}

.wrapper .list-group-item .remove {
  position: absolute;
  right: 17px;
  top: 22px;
  color: red;
}

.wrapper .list-group-item span {
  margin-left: 6px;
}
.wrapper .list-group-item .done:hover {
  background-color: rgba(163, 163, 163, 0.28);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .wrapper .list-group-item,
  wrapper .invalid {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper form input[type='text'] {
    width: 60% !important;
  }
  .wrapper .list-group-item,
  .wrapper .invalid {
    width: 90%;
  }
}
