.wrapper {
  margin: 20px;
}

.wrapper h2 {
  margin-bottom: 20px;
  text-align: center;
}

.wrapper .todo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper form input[type='text'] {
  width: 20% !important;
  margin-right: 20px;
}

.wrapper .list-group {
  align-items: center;
  margin-top: 20px;
}
.wrapper .list-group-item {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .wrapper .list-group-item {
    width: 90%;
  }
}
